bin/*
coastline_mask.png
elevation.png
land_blur.png
land_mask.png
map.png
ocean_blur.png
ocean_blur_kernel_positive.png
ocean_blur_levels.png
out.png
map*.png
river_mask.png
*.class
/bin
biomes.png
nortantis_map_generator.jar
fantasy_map_creator/*
matched_*.png
experiment*.png
ocean_small.png
mystery.png
cloud.ng
colorized.png
frequencies.png
user preferences
.metadata/
.recommenders/
/.metadata
/user preferences
map with new cities.properties
temp.nort
/unit test files/expected maps
/unit test files/failed maps
*.msi
*.deb
Nortantis.jar
.gradle
build